@page "/deploys/{DeployHash}"
@inherits ExplorerComponent;

@if (_deploy is null)
{
    <h3>Loading deploy @DeployHash</h3>
}
else
{
    <h3>Deploy details</h3>
    <div class="row">
        <div class="col-lg-12">
            <RadzenCard>
                <h3 class="h5"><b>Key:</b><span class="gskey">deploy-@DeployHash</span></h3>
                <div class="row">
                    <div class="col-md-4">
                        <div>Timestamp</div>
                        <b>@(Casper.Network.SDK.Utils.DateUtils.ToISOString(_deploy.Header.Timestamp))</b>
                        <div class="mt-3">Result</div>
                        <b>@(_executionResults[0].IsSuccess ? "Success" : "Failed")</b>
                    </div>
                    <div class="col-md-8">
                        <div>Block Hash</div>
                        <b><a href="/blocks/@(_executionResults[0].BlockHash)">@(_executionResults[0].BlockHash)</a></b>

                        <div class="mt-3">Cost</div>
                        <b>@(_executionResults[0].Cost)</b>
                    </div>
                </div>
            </RadzenCard>
            
            <RpcJsonViewer @ref="JsonViewerInstance" Json="@_deployJson"></RpcJsonViewer>

        </div>
    </div>
}