@page "/blocks"
@using Casper.Network.SDK.Types
@using NCTLWebExplorer.Models

<h3>Blocks</h3>

<div class="row">
    <div class="col-lg-12">
        <RadzenDataGrid @ref="_blockGrid" AllowFiltering="false"
                        AllowPaging="true"
                        PageSize="20"
                        PagerHorizontalAlign="HorizontalAlign.Center"
                        AllowSorting="false"
                        Data="@_data"
                        TItem="BlockSummary"
                        IsLoading="@_isLoading"
                        Count="@_count"
                        LoadData="@LoadData">
            <Columns>
                <RadzenDataGridColumn TItem="BlockSummary" Property="BlockHeight" Title="Block Height" Type="typeof(int)">
                    <Template>
                        <a href="/blocks/@context.Hash">@context.Height</a>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="BlockSummary" Property="Era" Title="Era" Type="typeof(int)">
                    <Template>
                        @context.EraId
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="BlockSummary" Property="Deploys" Title="Deploys" Type="typeof(int)">
                    <Template>
                        @context.TransactionCount
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="BlockSummary" Property="Hash" Title="Block hash" Type="typeof(string)">
                    <Template>
                        <a href="/blocks/@context.Hash">@context.Hash.FormatHash()</a>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="BlockSummary" Property="Proposer" Title="Proposer" Type="typeof(string)">
                    <Template>
                        @if (context.Proposer == "00")
                        {
                            @("00")
                        }
                        else
                        {
                            <a href="/account-info/@(context.Proposer)">@context.Proposer.FormatHash()</a>
                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Block" Property="Timestamp" Title="Timestamp" Type="typeof(string)">
                    <Template>
                        @TimestampToLocalTime(context.Timestamp)
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>