@page "/blocks/{BlockHash}"
@inherits ExplorerComponent;

@if (_block is null)
{
    <h3>Loading block @BlockHash</h3>
    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ErrorMessage
        </div>
    }
}
else
{
    <h3>Block details</h3>
    <div class="row">
        <div class="col-lg-12">
            <RadzenCard>
                <h3 class="h5"><b>Hash:</b><span class="gskey">@BlockHash</span></h3>
                <div class="row">
                    <div class="col-md-4">
                        <div>Timestamp</div>
                        <b>@(_block.Timestamp)</b>
                        <div  class="mt-1" >Block Height</div>
                        <b>@(_block.Height)</b>
                        <div class="mt-1">Era Id</div>
                        <b>@(_block.EraId)</b>
                        <div class="mt-1">Switch Block</div>
                        <b>@(_block.EraEnd != null ? "Yes" : "No")</b>
                    </div>
                    <div class="col-md-8">
                        <div class="mt-1">Parent Hash</div>
                        <b>
                            <a href="/blocks/@(_block.ParentHash)">@(_block.ParentHash)</a>
                        </b>
                        <div class="mt-1">State Root Hash</div>
                        <b>@(_block.StateRootHash)</b>
                        <div class="mt-1">Proposer</div>
                        @if (_block.Proposer.IsSystem)
                           {
                               <b>00</b>  
                           }
                           else
                           {
                                <b><a href="/get-entity/@(_block.Proposer.PublicKey.ToString())">@_block.Proposer.PublicKey.FormatPublicKey()</a></b>
                           }
                    </div>
                </div>
            </RadzenCard>
            <RadzenCard class="mt-4">
                <h3 class="h5">Transactions</h3>
                @if (TransactionsCount() == 0)
                {
                    <span>No transactions in this block.</span>
                }
                else
                {
                    <TransactionsTable Transactions="@_block.Transactions" />
                }
            </RadzenCard>

            <RpcJsonViewer @ref="JsonViewerInstance" Json="@_blockJson"></RpcJsonViewer>

        </div>
    </div>
}
