@page "/transactions"
@using Casper.Network.SDK.SSE
@using NCTLWebExplorer.Models

<h3>Transactions</h3>

<div class="row">
    <div class="col-lg-12">
        <RadzenDataGrid @ref="_deployGrid" AllowFiltering="true"
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        FilterMode="FilterMode.Advanced"
                        AllowPaging="true"
                        PageSize="20"
                        PagerHorizontalAlign="HorizontalAlign.Center"
                        AllowSorting="true"
                        Data="@_data"
                        TItem="TransactionSummary"
                        IsLoading="@_isLoading"
                        Count="@_count"
                        LoadData="@LoadData">
            <Columns>
                <RadzenDataGridColumn TItem="TransactionSummary" Property="DeployHash" Title="Transaction hash" Type="typeof(string)">
                    <Template>
                        <a href="/@(context.Version.Equals("deploy", StringComparison.InvariantCultureIgnoreCase) ? "deploys" : "transactions")/@context.Hash">@context.Hash.FormatHash()</a>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="TransactionSummary" Property="Version" Title="Version" Type="typeof(string)">
                    <Template>
                        @(context.Version == "Version1" ? "TransactionV1" : context.Version)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="TransactionSummary" Property="BlockHash" Title="Block hash" Type="typeof(string)">
                    <Template>
                        <a href="/blocks/@context.BlockHash">@context.BlockHash.FormatHash()</a>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="TransactionSummary" Property="PublicKey" Title="Initiator" Type="typeof(string)">
                    <Template>
                        <a href="/get-entity/@(context.Initiator)">@context.Initiator.FormatHash()</a>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="TransactionSummary" Property="Result" Title="Result" Type="typeof(string)">
                    <Template>
                        @(context.Result)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="TransactionSummary" Property="Timestamp" Title="Timestamp" Type="typeof(string)">
                    <Template>
                        @TimestampToLocalTime(context.Timestamp)
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="TransactionSummary" Property="MessageCount" Title="Messages" Type="typeof(string)">
                    <Template>
                        @context.MessageCount
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>
