@page "/deploys/{DeployHash}"
@inherits ExplorerComponent;

@if (_deploy is null)
{
    <h3>Loading deploy @DeployHash</h3>
    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ErrorMessage
        </div>
    }
}
else
{
    <h3>Deploy details</h3>
    <div class="row">
        <div class="col-lg-12">
            <RadzenCard>
                <h3 class="h5"><b>Hash:</b><span class="gskey">@DeployHash</span></h3>
                <div class="row">
                    <div class="col-md-4">
                        <div>Timestamp</div>
                        <b>@TimestampToLocalTime(_deploy.Header.Timestamp)</b>
                        <div class="mt-3">Result</div>
                        <b>@(_executionResult.ErrorMessage == null ? "Success" : "Failed")</b>
                    </div>
                    <div class="col-md-8">
                        <div>Initiator</div>
                        <b><a href="/get-entity/@(_deploy.Header.Account)">@(_deploy.Header.Account)</a></b>
                        
                        <div class="mt-3">Block Hash</div>
                        <b><a href="/blocks/@(_blockHash)">@(_blockHash)</a></b>

                        <div class="mt-3">Cost</div>
                        <b>@(_executionResult.Cost)</b>
                    </div>
                </div>
            </RadzenCard>
            
            <RpcJsonViewer @ref="JsonViewerInstance" Json="@_deployJson"></RpcJsonViewer>

        </div>
    </div>
}