@page "/transfer-cspr"
@inherits ExplorerComponent;

<PageTitle>Transfer $CSPR</PageTitle>

<h3>Transfer $CSPR</h3>

<div class="row">
    <div class="col-lg-12">

        @if (!string.IsNullOrWhiteSpace(ErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @ErrorMessage
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(SuccessMessage))
        {
            <div class="alert alert-success" role="alert">
                @((MarkupString) SuccessMessage)
            </div>
        }

        <RadzenCard Class="w-100 mb-4">
            <div class="row mb-4">
                <PublicKeyTextBox Text="Enter the origin Public Key:" SignerRef="@SignerInterop"
                                  LinkedToSigner="true" 
                                  @bind-Value="@_originPublicKey" Class="w-100"/>
            </div>
            <div class="row mb-4">
                <PublicKeyTextBox Text="Enter the recipient Public Key:" SignerRef="@SignerInterop"
                                  @bind-Value="@_targetPublicKey" Class="w-100"/>
            </div>
            <div class="row mb-4">
                <h5>Enter the amount to transfer (in $CSPR):</h5>
                <div>
                    <RadzenTextBox @bind-Value="_transferAmount" Class="w-100"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <RadzenButton Text="Send Transfer" Click="@SendTransferBtnClicked" class="float-end"/>
                </div>
            </div>
        </RadzenCard>
    </div>
</div>
