@* @implements IDisposable *@
@using NCTLWebExplorer.Utils
@inherits LayoutComponentBase

<PageTitle>NCTL Explorer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <RadzenNotification />
    <main>
        <div class="top-row px-4">
            @* @if (_signerStatus == SignerStatus.NotPresent) *@
            @* { *@
            @*     <a href="https://chrome.google.com/webstore/detail/casperlabs-signer/djhndpllfiibmcdbnmaaahkhchcoijce" target="_blank"> *@
            @*         <RadzenButton Click="@OnConnectClick" Text="Install signer" Icon="arrow_circle_down" ButtonStyle="ButtonStyle.Danger"/> *@
            @*     </a> *@
            @* } *@
            @* else if (_signerStatus == SignerStatus.Disconnected) *@
            @* { *@
            @*     <RadzenButton Click="@OnConnectClick" Text="Connect to signer" Icon="check_circle" ButtonStyle="ButtonStyle.Danger"/> *@
            @* } *@
            @* else if (_signerStatus == SignerStatus.Connected) *@
            @* { *@
            @*     <RadzenButton Click="@OnConnectClick" Text="Unlock signer" Icon="check_circle" ButtonStyle="ButtonStyle.Primary"/> *@
            @* } *@
            @* else if (_signerStatus == SignerStatus.Unlocked) *@
            @* { *@
            @*     <RadzenButton Click="@OnConnectClick" Text="@_activePk.FormatPublicKey()" Icon="key" ButtonStyle="ButtonStyle.Success"/> *@
            @* } *@
            @* else *@
            @* { *@
            @*     <RadzenButton Click="@OnConnectClick" Text="Unknown" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Danger"/> *@
            @* } *@
            @* Build Version: @(_buildVersion)&nbsp;&nbsp;&nbsp; *@
            @* @if (_buildVersion.StartsWith("1.")) *@
            @* { *@
                <RadzenButton Click="@(args => OnConnectToCondor())" Icon="autorenew" Text="@("Build " + _buildVersion)" ButtonStyle="ButtonStyle.Light"/>
            @* } *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
